* {
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 4);
    background-color: rgb(24, 33, 77);
}

.container {
    max-width: 90rem;
    margin: 2rem;
    padding-left: 0px 2rem;
}

.heading {
    padding: 5%;
    margin: 1rem 1px;
    text-align: center;
}

.header>.title {
    margin-bottom: 10%;
    color: rgb(81, 81, 246);
}

.header1>.title {
    margin: bottom 5%;
    color: beige;
}

.tribute {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 70rem;
    margin: 1px auto;
    background: white;
    columns: rgb(167, 167, 178);
    align-items: center;
    padding: 3px 0px 0px 1rem;
}

.tribute blockquote {
    text-align: center;
    font-size: 1rem;
}

.tribute img {
    max-width: 90%;
}